* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  background: #4AC29A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  text-align: center;
}

.center-box {
  display: flex;
  flex-direction: column;
}

input:required{
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.registerbtn {
  padding: 10px;
  margin-bottom: 20px;
  background-color:white;
  color:black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.registerbtn:hover {
  background-color: #004F8E;
  color:white;
}

p {
  text-align: center;
}
